<ion-content>
  <ion-list *ngIf="(cart$ | async).products.length == 0">
    <ion-item>
      <ion-label class="text-center">
        <small>Seu carrinho está vazio!</small>
      </ion-label>
    </ion-item>
  </ion-list>
  
  <ion-list *ngIf="(cart$ | async).products.length > 0">
    
    <ion-item *ngFor="let product of (cart$ | async).products">
      <ion-avatar>
        <img [src]="product.image" alt="">
      </ion-avatar>
    
      <ion-label>
        <small>{{ product.title }}</small>
        {{ product.price | currency: 'BRL'}}
      </ion-label>
    
      <ion-button slot="end" (click)="showConfirmRemoveModal(product)" fill="clear" color="primary">
        <ion-icon name="trash" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-button expand="block" (click)="showConfirmClearModal()">
    <ion-icon name="trash" slot="start"></ion-icon>
    Limpar Carrinho
  </ion-button>
</ion-footer>